.hTitle {
    text-decoration: none;
    text-transform: none;
    color: #4caf50;

}

.hTitle h1 {
    color: rgb(109, 167, 22) !important;
}


.nav-link:hover {
    color: rgb(109, 167, 22) !important;
    font-size: 1.3rem;
    transition: 0.4s;
}